In [1]:
str_1 = "Hello Python!"

In [2]:
str_1

'Hello Python!'

In [3]:
str_2 = "Hello" + "World"
str_2

'HelloWorld'

In [4]:
str_3 = str_1 * 3

In [5]:
str_3

'Hello Python!Hello Python!Hello Python!'

In [6]:
str_4 = "1 2 3 4 5"

In [7]:
str_4.split()

['1', '2', '3', '4', '5']

In [8]:
str_5 = "1,2,3,4,5"
str_5.split(",")

['1', '2', '3', '4', '5']

In [9]:
str_6 = " "
str_6.join(str_5)

'1 , 2 , 3 , 4 , 5'

In [10]:
str_1.replace("Python","World")

'Hello World!'

In [12]:
str_1 = str_1.replace("Python","World")

In [13]:
str_1

'Hello World!'

In [14]:
str_1.upper()

'HELLO WORLD!'

In [15]:
str_2 = "HELLO PYTHON"
str_2.lower()

'hello python'

In [16]:
str_3 = "   hello python   "
str_3.strip()

'hello python'

In [17]:
str_3

'   hello python   '

In [18]:
str_3.lstrip()

'hello python   '

In [19]:
str_3.rstrip()

'   hello python'

In [20]:
str_4 = "Hello Python!"
len(str_4)

13