In [1]:
d_4 = {}
d1 = {"apple":10, "pear":17}
d2 = {"potatoes":5, "tomatoes":11}
d_4["d1"]=d1
d_4["d2"]=d2
d_4

{'d1': {'apple': 10, 'pear': 17}, 'd2': {'potatoes': 5, 'tomatoes': 11}}

In [2]:
d1["apple"] +=1
d1

{'apple': 11, 'pear': 17}

In [3]:
d1.get("apple")

11

In [4]:
d1["banana"]

KeyError: 'banana'

In [5]:
d1.get("banana", "not found")

'not found'

In [6]:
d1.pop("apple")

11

In [7]:
d1

{'pear': 17}

In [8]:
del d1["pear"]
d1

{}

In [9]:
d_5 = {"apple":3, "pear":10}
d_6 = {"apple": 12, "banana":13}
d_5.update(d_6)
d_5

{'apple': 12, 'banana': 13, 'pear': 10}

In [10]:
"banana" in d_5

True

In [11]:
"tomatoes" in d_5

False

In [12]:
d_5.keys()

dict_keys(['apple', 'pear', 'banana'])

In [13]:
d_5.values()

dict_values([12, 10, 13])

In [14]:
d_5.items()

dict_items([('apple', 12), ('pear', 10), ('banana', 13)])