#### EXERCISE



##### TASK :  quickly search any number of higher values in an array

In [1]:
import numpy as np

In [2]:
arr_1 = np.arange(800)
np.random.shuffle(arr_1)
arr_1

array([295, 448, 623, 626, 632, 244, 728, 179, 589,  41, 274, 247, 564,
       231, 656, 795, 438, 361, 112, 774,  97, 455, 688,  39,  60, 545,
        73,  15, 676, 493, 435, 434, 437, 425, 393,  23, 526, 198, 481,
       740, 242, 150, 157, 556, 377, 682, 146, 568, 503, 573, 177,  81,
       705,  95, 345, 704, 404, 408, 472, 637, 498, 511, 156, 140,  16,
        84, 125, 128, 588,  30, 332, 391, 252, 257, 433,  86, 465, 439,
       784, 627, 353,  96, 745, 236, 294, 654, 299, 313, 590, 753, 537,
       129, 630, 596, 674, 259, 600, 551, 251, 749, 543, 289, 509, 782,
       751,  56, 359, 343, 757, 777, 474, 597, 167, 561,  51, 132, 706,
       515, 608, 799, 176, 720,  89,  45, 385, 582, 407, 529, 452, 494,
        65,  91, 397, 303, 775, 334, 158, 291, 149, 350, 495, 326, 773,
       643, 790, 442, 742, 262, 714, 458, 134, 553, 383, 664, 200, 444,
       351, 315, 538, 226, 348, 700, 270,  61, 460, 127, 635, 279, 173,
       189,  25, 416, 374, 415,  94, 180, 360, 285,   6, 765, 181,  70,
       687, 785, 115, 333, 779, 272, 796, 798, 187, 121,  68, 312, 614,
        35, 418, 195, 625, 522, 166, 267,  52,  58, 237, 641, 133, 297,
        20, 453,  19, 586, 410, 155, 301, 263,  12, 463, 476, 552, 780,
       250,  32, 462, 172, 669, 209, 258, 281, 648, 492, 192, 349, 323,
       736, 185, 113, 188, 487,  59, 394, 165, 638, 271, 766, 214, 478,
       234, 223,  53, 314, 126, 793,  98, 592, 767, 741, 729, 153, 269,
       238, 212, 533, 211, 290, 584, 309, 496, 144,  63, 216, 449, 619,
       606, 445, 715, 792, 505, 724,  87, 501, 283,  33,  17, 208, 486,
       253, 701, 531, 668,   1, 424, 109, 485, 256, 429, 677, 330, 138,
       694, 500, 414, 141, 611, 413, 432, 557,   2, 428, 417, 693,  66,
       344, 376, 572, 587, 139, 261, 317, 124, 571, 671, 468, 106,   4,
       752, 616, 110, 277, 170, 399,  29, 403, 655,  82, 282,  99, 239,
       206, 605, 205, 758, 284, 502, 248,  71, 207, 162, 336, 136, 633,
       743,   3, 754, 235,  27, 615, 788, 422, 368, 520, 475, 644, 480,
       103, 673,  36, 310, 227,  24,  72, 450, 131, 651, 604, 117, 791,
        11, 421, 372, 240, 163, 111,  69, 479, 524, 392, 151, 583, 660,
       581, 130,  14, 191,  31, 304,  50, 603, 483,  18,  46, 708, 658,
       691, 331, 684, 629, 367, 484, 580, 307, 716, 215,  85, 456, 646,
       276, 734, 175, 329, 722, 469, 102, 518,  88, 789, 770, 794, 599,
       755, 169, 772, 217, 558, 617, 768, 311, 628, 382, 528, 296, 717,
       748, 184, 123, 609, 411, 342, 650, 761, 219, 675, 357, 327, 679,
       379, 380, 464, 544, 159, 666, 783, 266, 400, 412, 731, 352, 488,
       709, 308, 639, 370, 197,  38,  28, 653, 265,  26, 201, 613, 517,
       685, 245, 733, 104, 293, 697, 467, 222, 692, 477, 746, 233, 381,
       560, 519, 249, 375, 229, 491, 689, 778, 224, 787,  49, 288, 554,
       306, 612, 254, 567, 672, 396, 436, 320, 549, 695,  75, 735, 426,
       355, 607,  64, 107, 683, 530, 302,  47, 108, 624, 356, 642, 542,
        79, 665, 621, 371, 228, 678, 273, 280,   9, 759, 744, 523, 776,
       756, 601, 710, 340, 221, 419, 559, 670, 546, 631, 305, 260, 161,
       703, 365, 423, 659, 268, 402, 230, 540, 196,   7, 591, 116, 213,
       661, 508, 471, 652, 142, 719, 680, 699, 264, 286,  42, 354, 232,
       566, 723, 506, 378, 696, 431, 193, 430, 218, 575, 620, 316, 451,
        13, 100, 490, 300, 389, 727, 707, 147, 322, 702, 101, 521, 550,
       649, 769,  55, 512, 737, 318, 298,  22, 440,  90, 730, 570, 686,
       246, 622, 225, 373, 738, 532,  78, 536, 563, 725, 690, 454, 275,
       339, 164, 762, 220, 154, 548,  62, 499, 319, 618, 712,   8, 507,
       204, 595, 541,  40, 255, 114, 698, 602, 243, 473, 358, 278, 160,
       771, 420, 645, 647, 760, 405, 292, 489, 513, 667, 143, 516, 527,
       120, 482, 335, 362, 525, 663, 386, 764,  92,  74, 634, 718, 713,
         5, 186, 199, 443, 202, 390, 168, 174, 594,  80, 578, 636, 739,
       337, 504, 321, 182, 363, 662, 395, 135, 338,  67, 747, 574, 535,
        76, 510, 384, 514, 341, 287, 750, 447,  93, 555, 241, 328, 497,
       441, 681, 763,  54, 797, 446, 461, 459, 364, 577, 640, 366, 347,
       203, 369, 148, 585, 406, 565, 427, 726, 457, 171,  44, 470, 119,
       145,  57, 190, 732, 105, 194, 178,   0, 539, 569, 598, 409, 562,
       346, 118, 210, 579, 711, 387, 610, 137,  77,  43,  34,  48,  37,
       398, 466, 388, 324, 786,  21,  10, 122, 721,  83, 576, 401, 183,
       657, 781, 593, 534, 152, 325, 547])

In [3]:
n = 10
arr_1[np.argpartition(-arr_1,n)[:n]]

array([798, 793, 797, 795, 799, 790, 794, 792, 791, 796])