In [1]:
import numpy as np
import pandas as pd

In [2]:
data_4 = pd.DataFrame({"data1":np.random.randn(5),
                      "data2":np.random.randn(5)})
data_4

      data1     data2
0 -0.055154 -2.005278
1  1.050817 -0.440388
2 -0.266507 -0.646889
3  2.193756 -0.125466
4  0.846166  1.245161

In [4]:
data3 = data_4.assign(r=data_4["data1"]/data_4["data2"])
data3

      data1     data2          r
0 -0.055154 -2.005278   0.027505
1  1.050817 -0.440388  -2.386118
2 -0.266507 -0.646889   0.411983
3  2.193756 -0.125466 -17.484935
4  0.846166  1.245161   0.679563

In [5]:
ages = [15,12,20,23,28,66,35,79,88]
bins_res = pd.cut(ages,[10,40,80])
bins_res

[(10, 40], (10, 40], (10, 40], (10, 40], (10, 40], (40, 80], (10, 40], (40, 80], NaN]
Categories (2, interval[int64]): [(10, 40] < (40, 80]]

In [6]:
pd.value_counts(bins_res)

(10, 40]    6
(40, 80]    2
dtype: int64

In [7]:
group_names = ["Young","Adult","Old"]
pd.value_counts(pd.cut(ages,[10,20,50,80], labels=group_names))

Adult    3
Young    3
Old      2
dtype: int64

In [8]:
data_6 = pd.DataFrame([range(3),[0,np.nan,0],[0,0,np.nan],range(3)])
data_6

   0    1    2
0  0  1.0  2.0
1  0  NaN  0.0
2  0  0.0  NaN
3  0  1.0  2.0

In [9]:
data_6.isnull()

       0      1      2
0  False  False  False
1  False   True  False
2  False  False   True
3  False  False  False

In [10]:
data_6.isnull().any()

0    False
1     True
2     True
dtype: bool

In [11]:
data_6.isnull().any(axis=1)

0    False
1     True
2     True
3    False
dtype: bool

In [12]:
data_6.fillna(5)

   0    1    2
0  0  1.0  2.0
1  0  5.0  0.0
2  0  0.0  5.0
3  0  1.0  2.0