In [1]:
import numpy as np
import pandas as pd

s_1 = pd.Series(np.arange(5), index=np.arange(5)[::-1], dtype="int64")

In [2]:
s_1

4    0
3    1
2    2
1    3
0    4
dtype: int64

In [3]:
s_1.isin([1,2,4])

4    False
3     True
2     True
1    False
0     True
dtype: bool

In [4]:
s_1[s_1.isin([1,2,4])]

3    1
2    2
0    4
dtype: int64

In [5]:
s_2 = pd.Series(np.arange(6), index=pd.MultiIndex.from_product([[0,1],["a","b","c"]]))
s_2

0  a    0
   b    1
   c    2
1  a    3
   b    4
   c    5
dtype: int32

In [6]:
s_2.iloc[s_2.index.isin([(1,"a"),(0,"b")])]

0  b    1
1  a    3
dtype: int32

In [7]:
dates = pd.date_range("20181121", periods=8)
data_1 = pd.DataFrame(np.random.randn(8,4), columns=["A","B","C","D"], index=dates)
data_1

                   A         B         C         D
2018-11-21 -0.579664  0.896045  0.709487  0.218701
2018-11-22 -1.740330  0.252364  1.916317  1.234758
2018-11-23 -0.417135 -0.088601 -0.869050 -1.146947
2018-11-24  1.271399 -0.007969 -0.214492  1.719444
2018-11-25  1.308767  1.803702 -0.566501 -0.279823
2018-11-26  1.144634  0.568954  0.055330 -1.924323
2018-11-27 -2.321020 -0.862150 -2.387917  0.462556
2018-11-28  0.846234  0.283864  0.535905  1.284264

In [8]:
data_1.where(data_1 < 0)

                   A         B         C         D
2018-11-21 -0.579664       NaN       NaN       NaN
2018-11-22 -1.740330       NaN       NaN       NaN
2018-11-23 -0.417135 -0.088601 -0.869050 -1.146947
2018-11-24       NaN -0.007969 -0.214492       NaN
2018-11-25       NaN       NaN -0.566501 -0.279823
2018-11-26       NaN       NaN       NaN -1.924323
2018-11-27 -2.321020 -0.862150 -2.387917       NaN
2018-11-28       NaN       NaN       NaN       NaN

In [9]:
data_2 = pd.DataFrame(np.random.rand(10,3), columns=list("abc"))
data_2

          a         b         c
0  0.173868  0.552623  0.145597
1  0.020650  0.636548  0.693339
2  0.837737  0.442656  0.613437
3  0.121991  0.782904  0.991224
4  0.750124  0.748036  0.874014
5  0.666409  0.704895  0.004378
6  0.420732  0.893742  0.319044
7  0.833001  0.247491  0.348291
8  0.430214  0.526862  0.008951
9  0.261197  0.917814  0.269247

In [10]:
data_2.query("(a<b)")

          a         b         c
0  0.173868  0.552623  0.145597
1  0.020650  0.636548  0.693339
3  0.121991  0.782904  0.991224
5  0.666409  0.704895  0.004378
6  0.420732  0.893742  0.319044
8  0.430214  0.526862  0.008951
9  0.261197  0.917814  0.269247

In [11]:
data_2.query("(a<b) & (b<c)")

          a         b         c
1  0.020650  0.636548  0.693339
3  0.121991  0.782904  0.991224